# Mardianto Tandi Ramma

# 2109106109

##  posttest_KB_4

### Import Library

In [5]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [6]:
dataset_split = pd.read_csv("heart.csv")

In [7]:
dataset_split.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

### menangani nilai 0

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
dataset_split

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [10]:
print("jumlah record")
print(dataset_split.isna().sum())

jumlah record
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [11]:
imputer = SimpleImputer(strategy='mean')
dataset_split["age"] = imputer.fit_transform(dataset_split[["age"]])

In [12]:
dataset_split.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52.0,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53.0,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70.0,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61.0,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62.0,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [13]:
print("jumlah null setelah menggunakan simpleimputer")
print(dataset_split.isna().sum())

jumlah null setelah menggunakan simpleimputer
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [14]:
dataset_split["age"].fillna(dataset_split["age"].mean(), inplace=True)
dataset_split.isna().any()

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
exang       False
oldpeak     False
slope       False
ca          False
thal        False
target      False
dtype: bool

In [15]:
dataset_split.shape

(1025, 14)

## membagi training set dan testing set dengan ketentuan 70:30

In [16]:
X = dataset_split.iloc[:,:-1]
y = dataset_split.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [17]:
print("Dataset dibagi dengan proporsi 70:30\n")
print("Dimensi X_train: ", X_train.shape)
print("Dimensi X_test: ", X_test.shape)
print("Dimensi y_train: ", y_train.shape)
print("Dimensi y_test: ", y_test.shape)

Dataset dibagi dengan proporsi 70:30

Dimensi X_train:  (717, 13)
Dimensi X_test:  (308, 13)
Dimensi y_train:  (717,)
Dimensi y_test:  (308,)

### MELAKUKAN NORMALISASI DATA PADA SALAH SATU ATTRIBUTE MENGGUNAKAN MIN MAX SCALER

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
min_max_scaler = MinMaxScaler()

In [20]:
x_norm = min_max_scaler.fit_transform(
    dataset_split[['age', 'sex', 'cp', 'exang']]
)

data_normalisasi = pd.DataFrame(x_norm)

data_normalisasi.head()

          0    1    2    3
0  0.479167  1.0  0.0  0.0
1  0.500000  1.0  0.0  1.0
2  0.854167  1.0  0.0  1.0
3  0.666667  1.0  0.0  0.0
4  0.687500  0.0  0.0  0.0

### MELAKUKAN STANDARISASI PADA DATASET

In [21]:
print("Nilai Standar Deviasi Sebelum Distandarisasi :")
np.std(dataset_split)

Nilai Standar Deviasi Sebelum Distandarisasi :

age          9.067864
sex          0.460149
cp           1.029138
trestbps    17.508171
chol        51.567337
fbs          0.356353
restecg      0.527620
thalach     22.994499
exang        0.472542
oldpeak      1.174480
slope        0.617454
ca           1.030295
thal         0.620357
target       0.499827
dtype: float64

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
standard_scaler = StandardScaler()

In [24]:
x_standard = standard_scaler.fit_transform(
    dataset_split [['age', 'sex', 'cp', 'exang']]
)

print("Nilai Sesudah Distandarisasi :")
np.std(x_standard)

Nilai Sesudah Distandarisasi :

1.0

In [25]:
np.mean(x_standard)

-4.4408920985006264e-17

In [26]:
data_standarisasi = pd.DataFrame(x_standard)

data_standarisasi.head()

          0         1         2         3
0 -0.268437  0.661504 -0.915755 -0.712287
1 -0.158157  0.661504 -0.915755  1.403928
2  1.716595  0.661504 -0.915755  1.403928
3  0.724079  0.661504 -0.915755 -0.712287
4  0.834359 -1.511706 -0.915755 -0.712287

### MELAKUKAN DATA CLEANING PADA DATA DENGAN NILAI NULL

In [27]:
dataset_split_rusak = pd.read_csv('heart.csv')

dataset_split[1:50]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,53.0,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70.0,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61.0,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62.0,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58.0,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58.0,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55.0,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46.0,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54.0,1,0,122,286,0,0,116,1,3.2,1,2,2,0
10,71.0,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43.0,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34.0,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51.0,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52.0,1,0,128,204,1,1,156,1,1.0,1,0,0,0
15,34.0,0,1,118,210,0,1,192,0,0.7,2,0,2,1
16,51.0,0,2,140,308,0,0,142,0,1.5,2,1,2,1
17,54.0,1,0,124,266,0,0,109,1,2.2,1,1,3,0
18,50.0,0,1,120,244,0,1,162,0,1.1,2,0,2,1
19,58.0,1,2,140,211,1,0,165,0,0.0,2,0,2,1
20,60.0,1,2,140,185,0,0,155,0,3.0,1,0,2,0
21,67.0,0,0,106,223,0,1,142,0,0.3,2,2,2,1
22,45.0,1,0,104,208,0,0,148,1,3.0,1,0,2,1
23,63.0,0,2,135,252,0,0,172,0,0.0,2,0,2,1
24,42.0,0,2,120,209,0,1,173,0,0.0,1,0,2,1
25,61.0,0,0,145,307,0,0,146,1,1.0,1,0,3,0
26,44.0,1,2,130,233,0,1,179,1,0.4,2,0,2,1
27,58.0,0,1,136,319,1,0,152,0,0.0,2,2,2,0
28,56.0,1,2,130,256,1,0,142,1,0.6,1,1,1,0
29,55.0,0,0,180,327,0,2,117,1,3.4,1,0,2,0
30,44.0,1,0,120,169,0,1,144,1,2.8,0,0,1,0
31,50.0,0,1,120,244,0,1,162,0,1.1,2,0,2,1
32,57.0,1,0,130,131,0,1,115,1,1.2,1,1,3,0
33,70.0,1,2,160,269,0,1,112,1,2.9,1,1,3,0
34,50.0,1,2,129,196,0,1,163,0,0.0,2,0,2,1
35,46.0,1,2,150,231,0,1,147,0,3.6,1,0,2,0
36,51.0,1,3,125,213,0,0,125,1,1.4,2,1,2,1
37,59.0,1,0,138,271,0,0,182,0,0.0,2,0,2,1
38,64.0,1,0,128,263,0,1,105,1,0.2,1,1,3,1
39,57.0,1,2,128,229,0,0,150,0,0.4,1,1,3,0
40,65.0,0,2,160,360,0,0,151,0,0.8,2,0,2,1
41,54.0,1,2,120,258,0,0,147,0,0.4,1,0,3,1
42,61.0,0,0,130,330,0,0,169,0,0.0,2,0,2,0
43,46.0,1,0,120,249,0,0,144,0,0.8,2,0,3,0
44,55.0,0,1,132,342,0,1,166,0,1.2,2,0,2,1
45,42.0,1,0,140,226,0,1,178,0,0.0,2,0,2,1
46,41.0,1,1,135,203,0,1,132,0,0.0,1,0,1,1
47,66.0,0,0,178,228,1,1,165,1,1.0,1,2,3,0
48,66.0,0,2,146,278,0,0,152,0,0.0,1,1,2,1
49,60.0,1,0,117,230,1,1,160,1,1.4,2,2,3,0

In [28]:
print("Cek Data dengan Nilai NULL :")
dataset_split_rusak.isna().sum()

Cek Data dengan Nilai NULL :

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [29]:
print ("Cek Tipe Data :")
dataset_split_rusak.dtypes

Cek Tipe Data :

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### MENGGANTI NILAI NULL SESUAI KETENTUAN

In [30]:
from sklearn.impute import SimpleImputer

In [31]:
imputer = SimpleImputer(strategy = "mean")

dataset_split_rusak['age'] = imputer.fit_transform(dataset_split_rusak[['age']])

dataset_split_rusak.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [32]:
imputer = SimpleImputer(strategy = "most_frequent")

dataset_split_rusak['sex'] = imputer.fit_transform(dataset_split_rusak[['sex']])

dataset_split_rusak.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [33]:
imputer = SimpleImputer(strategy = "mean")

dataset_split_rusak['cp'] = imputer.fit_transform(dataset_split_rusak[['cp']])

dataset_split_rusak.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [34]:
imputer = SimpleImputer(strategy = "median")

dataset_split_rusak['exang'] = imputer.fit_transform(dataset_split_rusak[['exang']])

dataset_split_rusak.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### MELAKUKAN DATA CLEANING PADA DATA DENGAN NILAI DUPLIKAT

In [35]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
15,34.0,0,1.0,118,210,0,1,192,0.0,0.7,2,0,2,1
31,50.0,0,1.0,120,244,0,1,162,0.0,1.1,2,0,2,1
43,46.0,1,0.0,120,249,0,0,144,0.0,0.8,2,0,3,0
55,55.0,1,0.0,140,217,0,1,111,1.0,5.6,0,0,3,0
61,66.0,0,2.0,146,278,0,0,152,0.0,0.0,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221,0,1,164,1.0,0.0,2,0,2,1
1021,60.0,1,0.0,125,258,0,0,141,1.0,2.8,1,1,3,0
1022,47.0,1,0.0,110,275,0,0,118,1.0,1.0,1,1,2,0
1023,50.0,0,0.0,110,254,0,0,159,0.0,0.0,2,0,2,1
1024,54.0,1,0.0,120,188,0,1,113,0.0,1.4,1,1,3,0

In [36]:
dataset_split_rusak.drop_duplicates(inplace = True)

In [37]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [38]:
dataset_split_rusak.duplicated().sum()

0

### MENGGANTI TIPE DATA SALAH SATU ATTRIBUTE ANGKA

In [39]:
print ("Tipe Data Awal : ")
dataset_split_rusak['age'].dtypes

Tipe Data Awal :

dtype('float64')

In [40]:
print ("Tipe Data Akhir: ")
data_akhir = dataset_split_rusak[['age']].astype('int64')
data_akhir['age'].dtypes

Tipe Data Akhir:

dtype('int64')

### MELAKUKAN ONE HOT ENCODING PADA DATASET

In [41]:
from sklearn.preprocessing import OneHotEncoder

In [42]:
onehot_encoder = OneHotEncoder(sparse = False)

onehot = onehot_encoder.fit_transform(dataset_split_rusak[["exang"]])

dataset_split_rusak_onehot = pd.DataFrame(onehot)

dataset_split_rusak_onehot.head()

c:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

     0    1
0  1.0  0.0
1  0.0  1.0
2  0.0  1.0
3  1.0  0.0
4  1.0  0.0

In [43]:
data = dataset_split_rusak.join(dataset_split_rusak_onehot)

data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,0,1
0,52.0,1,0.0,125,212,0,1,168,0.0,1.0,2,2,3,0,1.0,0.0
1,53.0,1,0.0,140,203,1,0,155,1.0,3.1,0,0,3,0,0.0,1.0
2,70.0,1,0.0,145,174,0,1,125,1.0,2.6,0,0,3,0,0.0,1.0
3,61.0,1,0.0,148,203,0,1,161,0.0,0.0,2,1,3,0,1.0,0.0
4,62.0,0,0.0,138,294,1,1,106,0.0,1.9,1,3,2,0,1.0,0.0